<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
	<header></header>
	<article>
		<h3><%=title%></h3>
		<%=content%>
	</article>
	<aside>
		<%=tool%>
		
	</aside>
	<footer></footer>
  </body>
</html>
