<% include header %>
            <form class="pure-form pure-form-stacked" method="post">
				<fieldset>
					<legend>Post Form</legend>

					<label for="title">title</label>
					<input id="title" name="title" placeholder="post title" value="<%=title%>">
					<input name="objectId" type="hidden" value="<%=objectId%>">

					<label for="tags">tags</label>
					<input id="tags" name="tags" placeholder="tags: java, doc" value="<%=tags||''%>">
					
					<label for="content">content</label>
					<textarea id="content" name="content" placeholder="post content"><%=content%></textarea>

					<button type="submit" class="pure-button pure-button-primary">Save</button>
				</fieldset>
			</form>
<% include footer%>
